<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDK</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    Hello world with ejs and nodemon
    <img class="hoidanit" src="/images/1634048991447_59.jpg" alt="">
</body>
</html>