.hoidanit{
    width: 100px;
}
.form-add-new {
    width: 500px ;
    margin: 0 auto;
    padding-top: 100px;
}
.input-group{
    padding: 10px ;
}
.button{
    margin: 10px;
    cursor: pointer;
}
.d-none{
    display: none;
}